<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name=keywords content="昆明卓越一次性用品有限公司">
    <meta name=description content="昆明卓越一次性用品有限公司">
    <link rel="stylesheet" href="{{$assets}}/nivo-slider/style.css" type="text/css"/>
    <link rel="stylesheet" href="{{$assets}}/nivo-slider/themes/default/default.css" type="text/css"/>
    <link rel="stylesheet" href="{{$assets}}/nivo-slider/nivo-slider.css" type="text/css"/>
    <link rel="stylesheet" href="{{$assets}}/css/reset.css"/>
    <link rel="stylesheet" href="{{$assets}}/css/main.css"/>
    <script type="text/javascript" src="{{$assets}}/js/Common.js"></script>
    <script type="text/javascript" src="{{$assets}}/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{$assets}}/nivo-slider/jquery.nivo.slider.pack.js"></script>
    <title>昆明卓越一次性用品有限公司</title>
    <title>主页</title>
</head>
<body>
<div id="header">
    <div class="top">
        <div class="topnav">
            <a onClick="AddFavorite('http://www.phpgoto.com','昆明卓越一次性用品有限公司')" href="javascript:void(0)" title="加入收藏">
                &nbsp;加入收藏</a>
            <a href="index.php?c=index&a=contact">&nbsp;联系我们</a>
            <a href="index.php?c=user&a=login">&nbsp;后台登录</a>
        </div>
        <div class="logo">
            <a href="index.php">
                <img src="{{$assets}}/images/logo.png"/>
            </a>
        </div>
        <div class="rexian">
            <img src="{{$assets}}/images/rexian.png"/>
        </div>
    </div>
    <div class="nav">
        <ul>
            <li><a href="index.php">首页</a></li>
            {{foreach $top_cates as $v}}
            <li><a href="index.php?c=index&a={{$v.pinyin}}&id={{$v.id}}">{{$v.cateName}}</a></li>
            {{/foreach}}
        </ul>
    </div>
</div>

<div id="wrapper">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <img src="{{$assets}}/images/20141105162502.jpg" data-thumb="{{$assets}}/images/20141105162502.jpg" alt=""/>
            <img src="{{$assets}}/images/20141107152351.jpg" data-thumb="{{$assets}}/images/20141107152351.jpg" alt=""/>
            <!--title="This is an example of a caption"-->
            <img src="{{$assets}}/images/20141105162516.jpg" data-thumb="{{$assets}}/images/20141105162516.jpg" alt=""
                 data-transition="slideInLeft"/>
            <img src="{{$assets}}/images/20141117184131.jpg" data-thumb="{{$assets}}/images/20141117184131.jpg" alt=""
                 title="#htmlcaption"/>
        </div>
        <!--<div id="htmlcaption" class="nivo-html-caption">-->
        <!--<strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.-->
        <!--</div>-->
    </div>
    <!--<div class="footer-banner" style="width:728px; margin:0 auto"></div>-->
</div>








<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider();
    });
</script>


</body>
</html>